@<SCOPE>:registry=https://themagnit.jfrog.io/artifactory/api/npm/default-npm-virtual/
//themagnit.jfrog.io/artifactory/api/npm/default-npm-virtual/:_password=QVA4cEFTaDhEOUpaSGdUc3BZSEI0aVVpNnAz
//themagnit.jfrog.io/artifactory/api/npm/default-npm-virtual/:username=info@themagnit.net
//themagnit.jfrog.io/artifactory/api/npm/default-npm-virtual/:email=info@themagnit.net
//themagnit.jfrog.io/artifactory/api/npm/default-npm-virtual/:always-auth=true