registry = https://themagnit.jfrog.io/artifactory/api/npm/tdw-components-npm-local/
_auth = aW5mb0B0aGVtYWduaXQubmV0OkFQOHBBU2g4RDlKWkhnVHNwWUhCNGlVaTZwMw==
email = info@themagnit.net
always-auth = true
