@<SCOPE>:registry=https://themagnit.jfrog.io/artifactory/api/npm/tdw-components-npm/
//themagnit.jfrog.io/artifactory/api/npm/tdw-components-npm/:_password=QVA4cEFTaDhEOUpaSGdUc3BZSEI0aVVpNnAz
//themagnit.jfrog.io/artifactory/api/npm/tdw-components-npm/:username=info@themagnit.net
//themagnit.jfrog.io/artifactory/api/npm/tdw-components-npm/:email=info@themagnit.net
//themagnit.jfrog.io/artifactory/api/npm/tdw-components-npm/:always-auth=true